


.app {
  text-align: center;
}

.welcome h2 {
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:70%;
  min-width: 250px;
  margin: auto;
  text-align: center;
}

#canvas {
  border: 1px solid black;
}

.button-group {
  margin: 10px 0;
}

button {
  margin: 5px;
  background-color: rgb(51, 117, 238);
  border: none;
  color: white;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}
